body
{
	background-color: white; 
	color: black;
	font-family: Arial, sans-serif;
	font-size: large;
}
.homeBody
{
	margin-top: 50px;
}

.smlPanel
{
	
}
.lightTransPanel
{
	background-color: rgba(240,248,255,0.6);
	color : #4D4D4D;
}
.lightGreyPanel
{
	background-color: #E8E8E8 ;
	color:#7F3300;
}
.smlPanel h1
{
	font-size: x-large;
	text-align: right;
}
.imgWrapper
{
	margin-bottom: 25px;
	margin-top: 25px;
}
.centreHorz
{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.centre
{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
td, th
{
	text-align: left;
	vertical-align: top;
	padding: 0px 10px 0px 10px;
}
ul {
    padding: 0;
    list-style-type: none;
}
iframe
{
	max-width : 95vw;
	max-height : 70vh;
}
#map, #map2, #map3 
{
    width : 600px;
    height : 450px;
    max-width : 95vw;
	max-height : 70vh;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img 
{
	width: 70%;
	margin: auto;
}

.carousel{
    margin-top: 20px;
    height : 100%;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
#myCarousel
{
	width : 100%;
	min-height : 500px;
	background-color : #4CAF50;
	color : white;
}
.centreItem
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.itemTitle, .itemDescription, .itemSliders, .itemBtns
{
	margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
}
.itemDescription
{
	overflow-y: auto;
}
.Gold, .Range{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .Gold .ui-slider-range { background: #FFD700; }
  .Gold .ui-slider-handle { border-color: #FFD700; }
  .Range .ui-slider-range { background: #8ae234; }
  .Range .ui-slider-handle { border-color: #8ae234; }


.gamesTable, .itemsTable
{
	font-family: Arial;
    font-size: medium;
    width: 100%;
    max-width: 500px;
    border:1px solid #4CAF50;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    -moz-border-radius: 5px;
}
.gamesTableHead , .itemsTableHead
{
	background-color:#4CAF50 ; 
	color: white;
}
.gamesTableBody tr:nth-child(even), .itemsTableBody tr:nth-child(even)
{
   background-color: #f2f2f2;
}
.gamesTableBody tr:nth-child(odd), .itemsTableBody tr:nth-child(odd) 
{
   background-color: white;
}
/* the first 'th' within the first 'tr' of the 'thead': */
thead tr:first-child th:first-child {
    border-radius: 10px 0 0 0;
}
/* the last 'th' within the first 'tr' of the 'thead': */
thead tr:first-child th:last-child {
    border-radius: 0 10px 0 0;
}
/* the first 'td' within the last 'tr' of the 'tbody': */
tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
/* the last 'td' within the last 'tr' of the 'tbody': */
tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
.spacedOut10
{
    margin: 10px 10px 10px 10px;
}