doctype html
html
	head
		include commonLinks.jade
		title
			|Bmcc-Home
	body.homeBody
		include navbar.jade
		.col-md-12
			h1
				|Game Id = 
				span(data-bind="text: gameID")
	footer
		include commonScripts.jade
		script(src="js/addPlayers.js")
		script(src="js/server.js")
