doctype html
html
	head
		include commonLinks.jade
		title
			|LiveQuest-Home
	body.homeBody
		include navbar.jade
		.col-md-12
			br
			.centreHorz
				button.btn(onclick="parent.location='setUpGame.html'")
					|Create NewGame
			br
			include ActiveGames.jade
			br
			include MyHostedGames.jade
	footer
		include commonScripts.jade
		script(src="js/home.js")
		script(src="js/server.js")

