doctype html
html
	head
		include commonLinks.jade
		title
			|LiveQuest-Home
	body.homeBody
		include navbar.jade
		.centreHorz
			.spacedOut10.btn.btn-success(onclick="parent.location='setUpGame.html'")
				|Create NewGame
		.spacedOut10
			include ActiveGames.jade
		.spacedOut10
			include MyHostedGames.jade
		.spacedOut10
			include InactiveGamesIPlayed.jade
	footer
		include commonScripts.jade
		script(src="js/home.js")
		script(src="js/server.js")

