doctype html
html
	head
		include commonLinks.jade
		title
			|LiveQuest-Log In
	body
		include navbar.jade
		.col-sm-4
			//img(src="img/sampleGame.png")
		.col-sm-4
			.centre
				include SignIn.jade
				include SignUp.jade
		.col-sm-4
	footer
		include commonScripts.jade
		script(src="js/index.js")
		script(src="js/server.js")
		


