doctype html
html
	head
		include commonLinks.jade
		title
			|LiveQuest-LogIn
	body
		include navbar.jade
		.centre
			include SignIn.jade
			include SignUp.jade
	footer
		include commonScripts.jade
		script(src="js/index.js")
		script(src="js/server.js")
		


