doctype html
html
	head
		include commonLinks.jade
		title
			|Bmcc-Home
	body
		include navbar.jade
		.centre
			include SignIn.jade
			include SignUp.jade
	footer
		include commonScripts.jade
		script(src="js/server.js")
		script(src="js/home.js")


