.centreItem
	#myCarousel.carousel.slide(data-ride='carousel',data-interval="false")
		.carousel-inner
			.item.active
				.itemTitle
					|Purse chain
				.itemImage
					img.centreItem(src='img/chain.png', alt='chain Slide',width="200" height="200")
				.itemDescription
					|Prevents your purse from being stolen but snaps after one use.
				.itemSliders
					span
						|Gold : 
						span(data-bind="text : chainGold")
						.Gold(data-bind="slider: { value: chainGold, realtime: true, min: 5, max: 100,}")
					br
					span
						|Pick up Range : 
						span(data-bind="text : chainRange")
						|m
						.Range(data-bind="slider: { value: chainRange, realtime: true, min: 5, max: 500,}")
				br
				.itemBtns
					#chainButton.btn.btn-default(data-bind="click: Place.bind($data, 'CHAIN')")
						|Place
			.item
				.itemTitle
					|Fake pocket 
				.itemImage
					img.centreItem(src='img/pocket.png', alt='basket Slide',width="200" height="200")
				.itemDescription
					|A fake pocket sewn into you jacket fools potential thieves attempting to relieve you of your gold.
					br
				.itemSliders
					span
						|Gold : 
						span(data-bind="text : pocketGold")
						.Gold(data-bind="slider: { value: pocketGold, realtime: true, min: 5, max: 100,}")
					br
					span
						|Pick up Range : 
						span(data-bind="text : pocketRange")
						|m
						.Range(data-bind="slider: { value: pocketRange, realtime: true, min: 5, max: 500,}")
				br
				.itemBtns
					#pocketButton.btn.btn-default(data-bind="click: Place.bind($data, 'POCKET')")
						|Place
			.item
				.itemTitle
					|MC Hammer
				.itemImage
					img.centreItem(src='img/MCHammer.png', alt='hammer Slide',width="200" height="200")
				.itemDescription
					|Mc Hammer parachute pants his way to a player breaks their piggy bank and steals their gold.
					br
				.itemSliders
					span
						|Gold : 
						span(data-bind="text : hammerGold")
						.Gold(data-bind="slider: { value: hammerGold, realtime: true, min: 0, max: 100,}")
					br
					span
						|Pick up Range : 
						span(data-bind="text : hammerRange")
						|m
						.Range(data-bind="slider: { value: hammerRange, realtime: true, min: 5, max: 500,}")
				br
				.itemBtns
					#hammerButton.btn.btn-default(data-bind="click: Place.bind($data, 'HAMMER')")
						|Place
			.item
				.itemTitle
					|Fishing rod
				.itemImage
					img.centreItem(src='img/fishing-rod.png', alt='rod Slide',width="200" height="200")
				.itemDescription
					|The fishing rod allows you to fish out another players coin purse
					br
				.itemSliders
					span
						|Gold : 
						span(data-bind="text : fishingGold")
						.Gold(data-bind="slider: { value: fishingGold, realtime: true, min: 0, max: 100,}")
					br
					span
						|Pick up Range : 
						span(data-bind="text : fishingRange")
						|m
						.Range(data-bind="slider: { value: fishingRange, realtime: true, min: 5, max: 500,}")
				br
				.itemBtns
					#rodButton.btn.btn-default(data-bind="click: Place.bind($data, 'ROD')")
						|Place
			.item
				.itemTitle
					|The Gold Digger
				.itemImage
					img.centreItem(src='img/gold_digger.png', alt='digger Slide',width="200" height="200")
				.itemDescription
					|So you think she&apos;s a gold digger , Release the gold digger on another player to relieve them of some of their gold. 
					br
				.itemSliders
					span
						|Gold : 
						span(data-bind="text : diggerGold")
						.Gold(data-bind="slider: { value: diggerGold, realtime: true, min: 0, max: 100,}")
					br
					span
						|Pick up Range :  
						span(data-bind="text : diggerRange")
						|m
						.Range(data-bind="slider: { value: diggerRange, realtime: true, min: 0, max: 500,}")
				br
				.itemBtns
					#diggerButton.btn.btn-default(data-bind="click: Place.bind($data, 'DIGGER')")
						|Place
			.item
				.itemTitle
					|Ali Baba&apos;s 40 Thieves 
				.itemImage
					img.centreItem(src='img/thieves.png', alt='alibaba Slide',width="200" height="200")
				.itemDescription
					|Dispatch Ali Baba&apos;s 40 thieves to steal gold from players in range.
					br
				.itemSliders
					span
						|Gold : 
						span(data-bind="text : thievesGold")
						.Gold(data-bind="slider: { value: thievesGold, realtime: true, min: 0, max: 100,}")
					br
					span
						|Pick up Range :  
						span(data-bind="text : thievesRange")
						|m
						.Range(data-bind="slider: { value: thievesRange, realtime: true, min: 5, max: 500,}")
				br
				.itemBtns
					#aliButton.btn.btn-default(data-bind="click: Place.bind($data, 'ALI')")
						|Place
			.item
				.itemTitle
					|The oldest trick in the book
				.itemImage
					img.centreItem(src='img/book.png', alt='book Slide',width="200" height="200")
				.itemDescription
					|Distract a player by shouting &apos;&apos;Look over there&apos;&apos; while they look away help yourself to their gold
					br
				.itemSliders
					span
						|Gold : 
						span(data-bind="text : bookGold")
						.Gold(data-bind="slider: { value: bookGold, realtime: true, min: 0, max: 100,}")
					br
					span
						|Pick up Range :  
						span(data-bind="text : bookRange")
						|m
						.Range(data-bind="slider: { value: bookRange, realtime: true, min: 5, max: 500,}")
				br
				.itemBtns
					#bookButton.btn.btn-default(data-bind="click: Place.bind($data, 'BOOK')")
						|Place
			.item
				.itemTitle
					|Baby in a Basket
				.itemImage
					img.centreItem(src='img/basket.png', alt='basket Slide',width="200" height="200")
				.itemDescription
					|When a player attempts to steal from you A baby in basket appears and with a booming voice shouts &apos;&apos;Thou shalt not steal!! &apos;&apos; |scaring off any thief.
					br
				.itemSliders
					span
						|Gold : 
						span(data-bind="text : basketGold")
						.Gold(data-bind="slider: { value: basketGold, realtime: true, min: 0, max: 100,}")
					br
					span
						|Pick up Range :  
						span(data-bind="text : basketRange")
						|m
						.Range(data-bind="slider: { value: basketRange, realtime: true, min: 5, max: 500,}")
				br
				.itemBtns
					#basketButton.btn.btn-default(data-bind="click: Place.bind($data, 'BASKET')")
						|Place
			.item
				.itemTitle
					|Key
				.itemImage
					img.centreItem(src='img/Key.png', alt='basket Slide',width="200" height="200")
				.itemDescription
					|Use a key to lock a chest. a player wont be able to pick up the chest unless they are in range and have the key.
					|Place the key then click on the chest you want this key to unlock.
					br
				.itemSliders
					span
						|Pick up Range :  
						span(data-bind="text : keyRange")
						|m
						br
						.Range(data-bind="slider: { value: keyRange, realtime: true, min: 5, max: 500,}")
				br
				.itemBtns
					#KeyButton.btn.btn-default(data-bind="click: Place.bind($data, 'KEY')")
						|Place
		// Carousel controls
		a.carousel-control.left(href='#myCarousel', data-slide='prev')
			span.glyphicon.glyphicon-chevron-left
		a.carousel-control.right(href='#myCarousel', data-slide='next')
			span.glyphicon.glyphicon-chevron-right



