doctype html
html
	head
		include commonLinks.jade
		title
			|LiveQuest-Play
	body.homeBody
		include navbar.jade
		.spacedOut10
			.col-md-6
				span(data-bind="text : ItemInfo")
				include map.jade
			.col-md-6
				include MyPickedItems.jade
	footer
		include commonScripts.jade
		script(src="js/server.js")
		script(src="js/PlayGame.js")
		
		

