doctype html
html
	head
		include commonLinks.jade
		title
			|LiveQuest-SetUpGame
	body.homeBody
		include navbar.jade
		.col-md-12
			include NewGame.jade
		.col-md-6
			include itemCarousel.jade
		.col-md-6(style="padding-top: 20px;")
			include map.jade

	footer
		include commonScripts.jade
		script(src="js/setUpGame.js")
		script(src="js/server.js")
		script(src="js/map.js")



