doctype html
html
	head
		include commonLinks.jade
		title
			|LiveQuest-Results
	body.homeBody
		include navbar.jade
		.col-md-12
			.centreHorz
				table.gamesTable.centreHorz
					thead.gamesTableHead
						tr
							th
								|Results
							th
						tr
							th User Name
							th Gold
					tbody.gamesTableBody(data-bind='foreach: results')
						tr
							td(data-bind='text: Name')
							td(data-bind='text: Gold')
	footer
		include commonScripts.jade
		script(src="js/ViewResults.js")
		script(src="js/server.js")

